
.aboutContainer{
    margin: 60px 0;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    display: flex;
    justify-content: center;
    color: #536dfe;    
    margin: 30px 0;
    /* border: 2px solid orangered; */
}
.rotatingPic{
    width: 50px;
    margin: 0 4px;
    border-radius: 50%;
    animation: covidAnimation 4s infinite linear;
}
@keyframes covidAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.aboutImg{
    width: 60%;
    /* margin: 30px; */
    border-radius: 10px;
    /* border: 2px solid green; */
    animation: aboutSideImg 3s infinite alternate ease;
}
@keyframes aboutSideImg{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.grid-wraper{
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    margin: 30px 0;
}
.grid-item-wraper{
/* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* border: 2px solid green; */
}
.aboutText{
    text-align: justify;
    padding-right: 120px ;    
    /* margin: 0 80px 0 0; */
    /* border: 2px solid green; */
};
