
.aboutContainer{
    border: 2px solid green;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    /* border: 2px solid orangered; */
    display: flex;
    justify-content: center;
    color: #536dfe;    
    margin: 30px 0;
}
.rotatingPic{
    width: 50px;
    margin: 0 4px;
    border-radius: 50%;
    animation: covidAnimation 4s infinite linear;
}
@keyframes covidAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.aboutImg{
    border: 2px solid green;
    width: 60%;
    margin: 30px;
    border-radius: 10px;
    animation: aboutSideImg 3s infinite alternate ease;
}
@keyframes aboutSideImg{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.grid-wraper{
    border: 2px solid green;
}
.grid-item-wraper{
    border: 2px solid orange;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutText{
    text-align: justify;
    padding: 0 60px ;    
};

@media(max-width: 540px){
    .aboutImg{
        border: 2px solid red;
        width: 60%;
    }   
    .heading{
        border: 2px solid black;
        display: flex;
        justify-content: center;
        color: #536dfe;    
        margin: 30px 0;
    } 
}
