@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap');
.aboutContainer{
    /* border: 2px solid black; */
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    /* border: 2px solid orangered; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #536dfe;    
    margin-bottom: 30px !important;
    font-family:cursive !important;
}
.rotatingPic{
    /* border: 2px solid red; */
    width: 70px;
    margin: 0 4px;
    border-radius: 50%;
    animation: covidAnimation 4s infinite linear;
}


@keyframes covidAnimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.aboutImg{
    /* border: 2px solid green; */
    width: 60%;
    margin: 30px;
    border-radius: 10px;
    animation: aboutSideImg 3s infinite alternate ease;
}
@keyframes aboutSideImg{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

.grid-wraper{
    /* border: 2px solid green; */
}
.grid-item-wraper{
    /* border: 2px solid orange; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutText{
    text-align: justify;
    padding: 0 90px 0 60px;
    font-family: 'Libre Baskerville', serif !important;
}

@media(max-width: 540px){ 
    .aboutImg{
        width: 80%;
    }   
    .heading{
        font-size: 35px !important;
        margin-bottom: 0px !important;
    }
    .rotatingPic{
        width: 35px;
    } 
    .aboutText{
        padding: 0 30px ;    
    } 
}

