*{
    margin: 0px ;
}
.header-wrapre{
    position: relative;
    background: url("../images/header/header.png");
    background-size: cover;
    background-position: center;
    height: 90vh;
    /* border: 2px solid red; */
    /* width: 100vw; */
}
