.questions-wraper{    
    margin: 40px 0;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.questionsHeading{
    color: #536dfe;    
    margin: 30px 0;
    text-align: center;
}
.inner-wraper{    
    /* border: 2px solid green; */
    margin: 40px 0;
    width: 60%;
}
.singleAccordionWraper{
    transition: transform 1s;
}
/* .singleAccordionWraper:hover{
    transform: scale(1);
} */

.accordionSummary{
    color:#673ab7;
    position: relative;
}
/* .accordionSummary:hover{
    border-left:2px solid blueviolet;
} */
.accordionSummary::after{
    content: "";
    position: absolute;
    background: blueviolet;
    height: 100%;
    width: 0.175rem;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: transform 0.8s ease;
}
.accordionSummary:hover::after{
     transform: scale(1,1); 
}

@media(max-width: 960px){
    .questionsHeading{
        font-size: 32px !important;
    }
    .inner-wraper{    
        width: 80%;
    }
}
@media(max-width: 600px){
    .questionsHeading{
        font-size: 26px !important;
    }
    .inner-wraper{    
        width: 80%;
    }
}