@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&display=swap');

.symptoms-wrapre{    
    margin: 40px 0;
    /* border: 2px solid green; */
}
.symptoms_grid_wrapre{
    /* border: 2px solid green; */
    padding: 32px 10%;
}

.symptomsHeading{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #536dfe;    
    margin: 30px 0;
    font-family: cursive !important;
}

.itemContainerSymptoms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
    margin: 24px;
    transition: transform 2s;
}
.itemContainerSymptoms:hover{
    transform: scale(1.2);
    /* cursor: zoom-in; */
}

.picCaption{
    font-family: 'Libre Baskerville', serif;
}

@media(max-width: 960px){ 
    .symptomsHeading{
        font-size: 32px !important;
    }
}
@media(max-width: 600px){ 
    .symptomsHeading{
        font-size: 26px !important;
    }
    .symptoms_grid_wrapre{
        /* border: 2px solid green; */
        padding: 32px 10%;
    }
}